name: Run Telegram Bot

on:
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: pip install aiogram
      - run: python main.py
        env:
          TOKEN: ${{ secrets.TOKEN }}
